#body
    h1
        text-align: center
    h2
        margin: 0 0 5px
        font-size: 16px
        font-weight: bold
    button
        border-radius: 0
        margin-left: 10px
    form
        display: flex
        input
            border-radius: 0

    #app
        display: flex
        justify-content: center
        @media (max-width: 500px)
            flex-direction: column-reverse

    #contacts
        padding: 10px
        @media (max-width: 500px)
            padding-bottom: 0
            height: 30vh
            max-height: 30vh
        &>div
            display: flex
            justify-content: space-between
            align-items: stretch
            flex-direction: column
            h2
                margin: 0
            button
                margin: 10px 0
        ul
            padding: 0px
            width: 150px
            list-style: none
            overflow: auto
            max-height: calc(100vh - 85px)
            @media (max-width: 500px)
                max-height: calc(30vh - 85px)
                width: 100%
                margin: 0 -5px
                display: flex
                flex-wrap: wrap
            li
                @media (max-width: 500px)
                    display: block
                    margin: 0 5px

    #chat
        height: 100vh
        max-height: 100vh
        @media (max-width: 500px)
            height: 70vh
            max-height: 70vh
        width: 100%
        max-width: 600px
        padding: 10px
        display: flex
        flex-direction: column
        justify-content: space-between
        position: relative
        button
            width: 30%
            height: 34px
        #text
            border: 1px lightgray solid
            margin-bottom: 10px
            height: 100%
            overflow: auto
            ul
                padding: 0px
                width: 100%
                list-style: none
                li
                    padding: 5px 10px
                    &:nth-child(odd)
                        background-color: whitesmoke
                    span
                        font-weight: bold
                    &.info
                        font-style: italic
